# --- ANTLR4 Archivos Generados ---
.antlr/
*.tokens
*.interp
*Lexer.py
*Parser.py
*Visitor.py
*Listener.py

# --- Archivos de Java (Generados por ANTLR por defecto) ---
*.class
*.java

# --- Entorno de Desarrollo y Python ---
__pycache__/
venv/
.venv/
.vscode/
.idea/
*.pyc

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db