# --- ANTLR4 Archivos Generados ---
.antlr/
*.tokens
*.interp

# Archivos de Python generados (Target Python)
*Lexer.py
*Parser.py
*Visitor.py
*Listener.py

# Archivos de Java (Generados por defecto)
*.class
*.java

# --- Entorno de desarrollo y Librerías ---
__pycache__/
venv/
.venv/
.vscode/
.idea/
*.pyc

# --- Archivos de sistema ---
.DS_Store
Thumbs.db
